.author-info-container-actual {
    width: 95%;
    margin: 0 auto;
}

.author-info-container {
    width: 100%;
    display: flex;
}

.author-info-content {
    width: 65%;
}

.author-info-info {
    width: 35%;
    padding: 1rem;
}


.author-content-go-back {
    width: 2rem;
    height: 2rem;
    background-color: rgb(80, 2, 2);
    padding: 0.1rem;
    border-radius: 50%;
    transition: 100ms transform linear;
}

.author-content-go-back:hover {
    transform: scale(1.1);
}

.author-content-go-back img {
    width: 2rem;
    transform: rotate(180deg);
}

.author-info-cont-create-btns {
    margin: 1rem 0;
}

.author-info-cont-create-btns button {
    padding: 0.5rem 1rem;
    border-radius: 15px;
    margin-right: 1.5rem;
    font-weight: 600;
    background-color: transparent;
    color: wheat;
    font-size: 1.1rem;
    border: 1px solid rgb(253, 66, 66);
}
