.author-container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.5rem;
  margin: 0 auto;
}

.author-pg-cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
  height: fit-content;
  width: 22rem;
}

.card-boundary {
  height: 26rem;
  width: 18rem;
  padding: 1rem;
  background-color: rgba(175, 32, 32, 0.1);
  z-index: -5;
  position: absolute;
  top: 10rem;
  left: 32rem;
  border: 1px solid rgba(153, 1, 1, 0.699);
  border-radius: 1rem;
}

.author-arrow-left {
  width: 5rem;   
  height: 31rem;
} 

.author-arrow-right {
  margin-left: 0.5rem;
  width: 5rem; 
  height: 31rem;
} 

.author-arrow-left img {
  width: 5rem;
  margin: 13rem 0;
  transform: rotate(-90deg);
}

.author-arrow-right img {
  width: 5rem;
  margin: 13rem 0;
  transform: rotate(90deg);
}