.author-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: fit-content;
}

.author-pg-cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    height: fit-content;
    width: 22rem;
}

.author-arrow-left {
    width: 5rem;   
    height: 31rem;
} 

.author-arrow-right {
    width: 5rem; 
    height: 31rem;
} 

.author-arrow-left img {
  width: 100%;
  margin: 13rem 0;
  transform: rotate(-90deg);
}

.author-arrow-right img {
  width: 100%;
  margin: 13rem 0;
  transform: rotate(90deg);
}