@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.footer {
    background-color: #520707;
    color: #cccccc;
    position: relative;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.footerLink {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-link-text {
    margin-right: 2rem;
    display: inline-block;
    font-size: 1rem;
    opacity: 0.5;
}

.footerIcon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-link-icon {
    margin-right: 1rem;
    display: inline-block;
    font-size: 1rem;
    opacity: 0.5;
}

.foot-link-icon:hover, .foot-link-text:hover {
    opacity: 1;
    transition: 300ms;
    cursor: pointer;
}

.footer a {
    text-decoration: none;
    color: white;
}


@media (max-width: 560px) {
    .footerLink,
    .footerIcon {
        flex-direction: column;
    }

    .foot-link-text,
    .foot-link-icon {
        margin-bottom: 0.5rem;
    }
}
