@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.user-sign-login-box {
  margin: 1rem auto;
  background: rgb(63, 10, 10);
  border: 2px solid rgb(245, 35, 35);
  padding: 15px 60px 25px 40px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  transition: box-shadow 0.3s ease;
  height: fit-content;
}

.user-sign-login-box h2 {
  color: white;
  margin-bottom: 30px;
}

.user-sign-input-box {
  position: relative;
  margin-bottom: 25px;
}

.user-sign-input-box input, .user-sign-input-box textarea {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 2px solid rgb(245, 35, 35);
  border-radius: 5px;
  color: white;
  outline: none;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

.user-sign-input-box textarea {
  resize: none;
}

.user-sign-input-box label {
  position: absolute;
  top: -18px;
  left: 10px;
  color: white;
  background: rgb(73, 7, 7);
  padding: 0 5px;
  font-size: 14px;
}

.user-sign-options {
  text-align: right;
  margin-bottom: 20px;
}

.user-sign-options span {
  color: white;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.6;
  transition: all 0.1s linear;
}

.user-sign-options span:hover {
  opacity: 1;
  cursor: pointer;
}

.user-sign-btn {
  width: 107%;
  padding: 10px;
  border: none;
  background: rgb(245, 35, 35);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.user-signup-form-error {
  padding: 5px;
  border-radius: 5px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}



.user-sign-register-link {
  margin-top: 20px;
  color: white;
  font-size: 14px;
}

.user-sign-register-link span {
  color: white;
  text-decoration: none;
  transition: all 0.1s ease;
  opacity: 0.6;
}

.user-sign-register-link span:hover {
  opacity: 1;
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  background-color: rgba(211, 12, 12, 0.5);
  border-radius: 4px;
}

.user-sign-login-box:hover {
    box-shadow: 0 0 10px rgb(209, 15, 15);
}

.user-sign-login-box:hover .user-sign-btn  {
    box-shadow: 0 0 10px rgb(209, 15, 15);
}

.user-sign-login-box:hover .user-sign-input-box input  {
    box-shadow: 0 0 10px rgb(209, 15, 15);
}

.user-sign-login-box:hover .user-sign-input-box textarea  {
    box-shadow: 0 0 10px rgb(209, 15, 15);
}