header {
    position: sticky;
    top: 15px; /* or any desired offset */
    width: 90%;
    margin: 1.5rem auto;
    z-index: 100; /* optional: to ensure it's above other content */
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(97, 34, 34, 0.4);
    padding: 1rem 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;   
    margin: 0.5rem 0;
}

.left-content, .right-content {
  color: #c5c5f0;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 0.3rem;
  transition: color 0.3s ease;
  cursor: pointer;
}

.left-content:hover, .right-content:hover {
  color: #ffffff;
}

.logo {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 0px solid wheat;
    padding-right: 0.5rem;
}

.left-content, .right-content {
    cursor: pointer;
    padding: 0 0.5rem;
    opacity: 0.8;
    font-size: 1.1rem;
}

.nav-hover {
  position: absolute;
  bottom: 0;
  height: 72px;
  background: linear-gradient(45deg, #4f1919, #911919);
  transition: all 0.3s ease;
  width: 0;
  left: 0;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: -2;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}