.comments-post-display {
  background-color: #1a1a1a;
  margin-top: 30px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.comments-post-display h3 {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.comment-post {
  background-color: #2a2a2a;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid rgba(250, 158, 158, 0.5);
}

.comment-post-text {
  color: #e6e6e6;
  font-size: 1rem;
  margin: 0 0 6px 0;
  max-height: 5rem;
  overflow: scroll;
}

.comment-post-meta {
  color: #999;
  font-size: 0.85rem;
}

.all-comments-show {
  max-height: 30rem;
  overflow: scroll;
  padding: 1rem;
}


.my-post {
  display: flex;
  flex-wrap: nowrap;
  background-color: #2a2a2a;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid rgba(250, 158, 158, 0.5);
  overflow: hidden;
}

.my-post-l {
  flex: 1;
  padding: 1rem;
}

.my-post-r {
  border: none;
  background-color: rgb(230, 99, 121);
  cursor: pointer;
  transition: 200ms all linear;
  padding: 0rem 1rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-post-r:hover {
  background-color: red;
}