.sign-choose {
    height:15rem;
    background: linear-gradient(180deg, #1a0000, #3b0404);
    width: 30%;
    margin: 5rem auto;
    color: wheat;
    border-radius: 10px;
    padding-top: 1rem;
}

.sign-choose-head {
    text-align: center;
}

.sign-btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    flex-wrap: wrap;
}

.sign-btn {
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: transparent;
    color: #ff4b4b;
    border: 1px solid #ff4b4b;
    backdrop-filter: blur(15px);
    font-weight: 550;
    color: rgb(221, 190, 133);
    width: 6.5rem;
    text-align: center;
    max-height: fit-content;
}

.sign-already-user {
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.sign-already-user span:hover {
    text-decoration: underline;
    font-weight: 600;

}

.sign-btn:hover {
    background-color: #e60000;
    transition: background-color 0.3s ease-in-out;
}

.sign-btn:active {
    border: 2px solid wheat;
}