.body {
  margin: 0;
  max-width: 100vw;
  background: radial-gradient(circle at center, #3a0c0c 0%, #110202 25%, #130202 50%, #140909 75%, #000000 100%);
  overflow-x: hidden;
  color: white; 
  display: flex;
  flex-direction: column;
  z-index: 0;
}

main {
  flex: 1; 
  z-index: 1;
  width: 90%;
  margin: 2rem auto;
}

::-webkit-scrollbar {
  width: 6px;        
  height: 6px;       
}

::-webkit-scrollbar-track {
  background: transparent;  
  border: none;             
}

::-webkit-scrollbar-thumb {
  background-color: #c00;  
  border-radius: 2px;      
  border: none;             
}