.body {
  margin: 0;
  height: 100vh;
  max-width: 100vw;
  background: radial-gradient(circle at center, #940101 0%, #7b0000 10%, #000000 100%);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  color: white; /* optional: makes text pop against dark background */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* This will take the remaining height */
}