.major-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.major-buy-premium {
    width: 20%;
    padding: 0.2rem;
    position: sticky;
    top: 10rem;
    height: fit-content;

}

.major-content {
    width: 60%;
    padding: 1rem 2rem;
}

.major-content-title {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 650;
    background: linear-gradient(180deg, rgb(245, 239, 239), rgb(238, 50, 50));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.major-content-description {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
    max-width: 43rem;
    overflow-x: hidden;
    color: rgb(224, 194, 182);
    white-space: pre-line;
}

.major-content-description h1 {
    line-height: 2rem
}

.major-content-description h2 {
    line-height: 2rem
}

.major-content-description h3 {
    line-height: 2rem
}

.major-content-description img {
    display: block;
    margin: 1rem auto;
}

.major-author {
    width: 20%;
    position: sticky;
    top: 10rem;
    height: fit-content;
}

.major-content-go-back {
    margin-bottom: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: rgb(80, 2, 2);
    padding: 0.1rem;
    border-radius: 50%;
    transition: 100ms transform linear;
}

.major-content-go-back:hover {
    transform: scale(1.1);
}

.major-content-go-back img {
    width: 2rem;
    transform: rotate(180deg);
}

.major-content-description-navigate-arrows {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

#next-arrow {
    transform: rotate(180deg); 
}