.major-chap-container {
    width: 100%;
    height: fit-content;
}

.major-chap-info {
    display: flex;
    flex-wrap: nowrap;
}

.major-chap-info-img {
    width: 20%;
    height: 18rem;
}

.major-chap-info-img img {
    height: 100%;
    width: 100%;
}

.major-chap-info-desc {
    padding: 0 1rem;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}


.major-chap-info-desc h1, .major-chap-info-desc h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.major-chap-info-description {
    height: 6.9rem;
    overflow: hidden;
    margin-bottom: 3rem;
}

.major-chap-chapters {
    margin-top: 3rem;
}

.major-chap-go-back {
    margin: 1.5rem 0 0;
    width: 2rem;
    height: 2rem;
    background-color: rgb(80, 2, 2);
    padding: 0.1rem;
    border-radius: 50%;
    transition: 100ms transform linear;
}

.major-chap-go-back:hover {
    transform: scale(1.1);
}

.major-chap-go-back img {
    width: 2rem;
    transform: rotate(180deg);
}

.comment-section-container {
    margin: 8rem auto 0;
    width: 85vw;
}

.comment-post-container {
    margin: 3rem auto 0;
    width: 85vw;
}